footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
  }
  
  footer a {
    color: #e67e22;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  