.feedback{
    padding: 2rem;
}

.feedback form{
    display: flex;
    flex-direction: column;
}

.feedback form label{
    margin: 0.5rem 0;
}

.feedback form textarea{
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.feedback button{
    padding: 0.7rem;
    margin: 0.5rem 0;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}