.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar a {
    color:#fff;
    margin: 0 10px;
    text-decoration: none;
}

.auth-buttons .login,
.auth-buttons .signup {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.auth-buttons .signup{
    background: #ff5722;
    border: none;
}